---
import '../styles/global.css';

interface Props {
  title: string;
  bodyClass?: string;
}

const { title, bodyClass = 'bg-white text-slate-900' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class={`min-h-screen px-4 pt-2 pb-8 ${bodyClass}`}>
    <slot />
  </body>
</html>
